<html>

<head>
	<title>Register - Transaction</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transaction.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>
</head>

<body>
	<div class="header">
		<h1 class="primary-message">Transaction Entries</h1>
	</div>

	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<div class="transactionWrapper">
			<br />
			<br />
			
			<!--
			To do list: Change class of buttons to something besides products for layout purposes
			locals.products should work for now hopefully but later change it
			
			Add /scripts/transaction.js
			Add /styles/transaction.css
			
			Add quantity button
			Add add button
			
			Add Total Checkout Price
			Add Total Quantity
			
			Set product layout as:
			Product ID
			Count
			Price
			Transaction Date
			-->

			<% if (locals.products && (locals.products.length > 0)) { %>
				<ul id="transactionEntries" class="products">
					<% locals.products.forEach((product) => { %>
						<li>
							<input type="hidden" name="productId" value="<%= product.id %>" />
							<br />&nbsp;&nbsp;<span name="productCount"><%= product.count %></span>
							<!--
							Price
							Transaction Date
							-->
						</li>
					<% }); %>
				</ul>
			<% } %>
		</div>

		<div class="hidden">
			<input type="checkbox" id="isRefreshed" class="hidden">
			<script type="text/javascript">
				window.onunload = function() {
					const isRefreshedElement = document.getElementById("isRefreshed");

					if(!isRefreshedElement.checked) {
						isRefreshedElement.checked = true;
					} else {
						isRefreshedElement.checked = false;
						location.reload();
					}
				}
			</script>
		</div>
	</div>

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>

</body>

</html>
