.checkoutWrapper {
	display: inline-block;
}

.products {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 13em;
}

.products li {
	background-color: #EEE;
	margin: .5em;
	padding: .3em;
	height: 4em;
	border-radius: 4px;
	text-align: left;
}

.products .add {
	cursor: pointer;
	background-color: #b5b5b5;
	margin: .2em;
	padding: .1em;
	height: 1em;
	border-radius: 4px;
	text-align: center;
	float: right;
}

.products .add:hover {
	color: #607D8B;
	background-color: #8c8c8c;
	left: .1em;
}

a.button {
	text-decoration: none;
}

li.hidden {
	display: none;
}

input.quantityUpdate {
	width: 40px;
}
div.total{
	left: 0;
	right: 0;
	bottom: 10%;
	position: absolute;
}

button.deletebutton,
a.button,
input.submit {
    margin: 0;
    border: 0;
    font-size: 11px;
    width: 20px;
    height: 20px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    color: #000000;
    border: solid;
    padding: 2px;
    background-color: #FFFFFF;
    cursor: default;
	text-decoration: none;
}

button.deletebutton:hover,
a.button:hover,
input.submit:hover {
    cursor: pointer;
    color: #000000;
    background-color: #FF0000;
}
